
public/.idea/.idea.public.dir/.idea/indexLayout.xml
public/.idea/.idea.public.dir/.idea/vcs.xml
.idea/discord.xml
.idea/indexLayout.xml
.idea/projectSettingsUpdater.xml
.idea/vcs.xml
.idea/workspace.xml
