.navbutton{
    transform: unset;
    transition: ease-in-out 0.1s ;

}
.navbutton:hover{
    transform: translateY(5px);
    filter: brightness(50%) saturate(600%);
}

.shiku{
    transform: unset;
    transition: ease-in-out 0.1s ;
}


.shiku:hover{
    transform: translateY(5px);
}
